spvmp.keyucc.top {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	handle /api/* {
		reverse_proxy server:3000
	}

	handle /admin/* {
		reverse_proxy server:3000
	}

	handle /health {
		reverse_proxy server:3000
	}

	handle {
		reverse_proxy admin:80
	}
}
